{% extends 'layouts/master.html' %}

{%block content %}
<div id="app">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3 class="text-primary">CRUD</h3>
                    <p class="text-subtitle text-muted">CRUD dos animais do Zooloógico</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Principal</a></li>
                            <li class="breadcrumb-item active" aria-current="page">CRUD</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    Animais do Zooloógico
                </div>
                <div class="card-body">
                    <a href="/criar/">Adicionar novo animal.</a>
                    <table class="table table-striped mt-3" id="table1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Especie</th>
                                <th>Sexo</th>
                                <th>Idade</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animais_list %}
                            <tr>
                                <td>{{ animal.id }}</td>
                                <td>{{ animal.nome }}</td>
                                <td>{{ animal.animal }}</td>
                                <td>{{ animal.sexo }}</td>
                                <td>{{ animal.idade }}</td>
                                <td>
                                    <span class="badge bg-success"><a class="text-light" href="{% url 'editar' animal.id %}">Editar</span>
                                </td>
                                <td>
                                    <span class="badge bg-danger"><a class="text-light" href="{% url 'excluir' animal.id %}">Excluir</a></span>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>
{%endblock%}